use flake .

if [ -f .env ]; then
  unset AWS_EXPIRATION
  unset AWS_SESSION_TOKEN
  dotenv .env
fi

# Python setup via uv
layout_python_uv() {
  if [ ! -d $PWD/.venv ]; then
    uv venv .venv --python 3.11
  fi
  source .venv/bin/activate
}

export VIRTUAL_ENV=$PWD/.venv
layout_python_uv



export WEATHER_PROVIDER=openweather
export QUEUE_PROVIDER=sqs
export QUEUE_NAME=weather
export OPENWEATHER_API_KEY=${OPENWEATHER_API_KEY}

# export AWS_REGION=us-east-1
# export AWS_ACCOUNT=000000000000
# export AWS_ACCESS_KEY_ID=test
# export AWS_SECRET_ACCESS_KEY=test
# export AWS_ENDPOINT_URL=http://localhost:4566



export DB_PROVIDER=postgres
export DATABASE_URL=postgres://meteo:meteo@localhost:5432/meteo?sslmode=disable
export DB_SCHEMA=meteo


export CHAT_PORT=50051
export AI_PROVIDER=ollama
export AI_MODEL=qwen2.5:7b
export AI_ENDPOINT=localhost:11434